/* ESTILO TIPOGRAFÍA DE TEXTO */

h1{
    font-family: "Reem Kufi Ink";
    font-size: 50px;
    font-weight: bold;
}

h2{
    font-family: "Reem Kufi Ink";
    font-size: 20px;
    font-weight: bold;
}

h3{
    font-family: "Lato";
    font-size: 20px;
    font-weight: normal;
}

/* ESTILO TIPOGRAFÍA DE TEXTO */

/* ESTILO GENERAL */

#header{
    width: auto;
    background-image: url(banner2.png);
    background-size: 1920px 500px;
    color: white;
    height: 100%;
    margin: 0%;
    height: auto;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: 2px;
}
    
#nav{
    align-self: center;
    background-color: black;
    height: auto;
    width: auto;
    margin: 0%;
    text-align: center;
    padding-top: 0%;
    padding-bottom: 0%;
    position: sticky;
}

#nav li{
    margin: 0%;
    border: none;
    color: #66b933;
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
}

#minidiv{
    width: auto;
    height: 1px;
    margin: 0%;
    background-color: #66b933;
}

#body{
    background-color: black;
}

/* ESTILO GENERAL */

/* ESTILO DE ÍCONOS */

/* ESTILO DE ÍCONOS */